body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}


header {
  min-height: 70px;
  height: 10vh;
  min-width: 100vw;
  background-color: #4b5059;
  display: flex;
  justify-content: start;
  align-items: center;
}

#logo {
  min-height: 80px;
  height: 10vh;
  margin-left: 1vw;
}

#content {
  width: 100%;
  height: 100%;
  background-color: white;
}

h1 {
  margin-left: 1vw;
}

h2 {
  font-weight: 400;
  font-size: larger;
}


#cables {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Bilder am rechten Rand ausrichten */
  gap: 10px;
  transform: scale(1.6);
  transition: transform 0.5s;
  margin-top: 45px;
  margin-bottom: 45px;
}

.single-cable:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.5s;
}

.single-cable.selected {
  transform: scale(1.1);
  transition: transform 0.5s;
}

#sidebar {
  background-color: #f0f4f7;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

#content-area {
  display: grid;
  grid-template-columns: 250px 1fr;
  overflow: scroll;
}

#reset-btn {
  border-radius: 5px;
  border: 1px solid;
  padding: 1px;
}

#reset-btn:hover {
  background-color: #d2d5d8;
  cursor: pointer;
}

.vectorized-board {
  display: block;
  width: 70%;
  height: 70%;
  margin: auto;
}

.cls-2 {
  cursor: pointer;
}

.cable-red {
  stroke: red;
  stroke-width: 1.5;
}

.cable-red-invisible {
  stroke: red;
  opacity: 0;
  stroke-width: 5;
  cursor: pointer;
}

.signal-true {
  fill: #16b816 !important;
}

.signal-false {
  fill: #f84e4e !important;
}

#inputA, #inputB, #inputC, #inputD {
  cursor: pointer;
}

#inputA:hover,
#inputB:hover,
#inputC:hover,
#inputD:hover {
  filter: drop-shadow(0 0 5px #8a8a8a);
}

.led-lit {
  fill: #f84e4e;
}




.cable-default { stroke: #4b5059; stroke-width: 1.5; }
.cable-default-invisible { stroke: #4b5059; opacity: 0; stroke-width: 5; cursor: pointer; }

.cable-grey { stroke: #a2abbd; stroke-width: 1.5; }
.cable-grey-invisible { stroke: #a2abbd; opacity: 0; stroke-width: 5; cursor: pointer; }

.cable-black { stroke: #000000; stroke-width: 1.5; }
.cable-black-invisible { stroke: #000000; opacity: 0; stroke-width: 5; cursor: pointer; }

.cable-cyan { stroke: #23b7b4; stroke-width: 1.5; }
.cable-cyan-invisible { stroke: #23b7b4; opacity: 0; stroke-width: 5; cursor: pointer; }

.cable-blue { stroke: #4653a4; stroke-width: 1.5; }
.cable-blue-invisible { stroke: #4653a4; opacity: 0; stroke-width: 5; cursor: pointer; }

.cable-green { stroke: #3cb54a; stroke-width: 1.5; }
.cable-green-invisible { stroke: #3cb54a; opacity: 0; stroke-width: 5; cursor: pointer; }

.cable-brown { stroke: #8B4513; stroke-width: 1.5; }
.cable-brown-invisible { stroke: #8B4513; opacity: 0; stroke-width: 5; cursor: pointer; }

.cable-pink { stroke: #ed3a95; stroke-width: 1.5; }
.cable-pink-invisible { stroke: #ed3a95; opacity: 0; stroke-width: 5; cursor: pointer; }

.cable-red { stroke: #b92840; stroke-width: 1.5; }
.cable-red-invisible { stroke: #b92840; opacity: 0; stroke-width: 5; cursor: pointer; }

.cable-yellow { stroke: #f99c25; stroke-width: 1.5; }
.cable-yellow-invisible { stroke: #f99c25; opacity: 0; stroke-width: 5; cursor: pointer; }