header {
  min-height: 70px;
  height: 10vh;
  min-width: 100vw;
  background-color: #4b5059;
  display: flex;
  justify-content: start;
  align-items: center;
}

#logo {
  min-height: 80px;
  height: 10vh;
  margin-left: 1vw;
}

#content {
  width: 70vw;
  height: 90vh;
  background-color: white;
  margin: 0 auto;
  padding-top: 0.2vh;
  padding-left: 2vw;
}

h1 {
  margin-left: 1vw;
}

h2 {
  font-weight: 400;
  font-size: larger;
}

#cables {
  position: fixed;
  left: 0;
  scale: 200%;
}
